*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    
}
body{
    background-image: url(image/spe\ background2.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
}
header{
    position: fixed;
    margin:0;
    padding:0;
    width:100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;


}
.logo{
    display: flex;
    align-items: center;
}
.logo span{
    color: white;
    font-size: 5rem;
    font-weight: 1000;
}
input{
    display: block;
}
.nav{
    display: flex;
    list-style: none;

}
.nav a{
    color: white;
    font-size: 1.1rem;
    font-weight: 1000;
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.nav a:hover{
    border-bottom:2px solid white ;
}
.contact{
width: 100%;
margin-top:10%;
margin-left: 25%;
margin-right:0 ;
margin-bottom: 0;

} 
.about1{
border-bottom: 2px solid white;
}
.about{
font-size: 1.1rem;
font-weight: 1000;
width: 100%;
margin-top:7rem;
text-align: center;

}
.content{
    margin: 25%;
    color: white;
    font-size: 2rem;
    text-align: center;
}